## Data formatting - TikTok

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
#Importing the datasets
df_2020=pd.read_excel('2020.xlsx')
df_2021=pd.read_excel('2021.xlsx')
df_2022_2023=pd.read_excel('Mar-2022 - Jun-2023.xlsx')

In [4]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            335 non-null    object
 1   Date                     335 non-null    object
 2   Ad Group Name            335 non-null    object
 3   Ad Name                  335 non-null    object
 4   Promotion Type           335 non-null    object
 5   Pacing                   335 non-null    object
 6   Creative                 335 non-null    object
 7   Objective                335 non-null    object
 8   Cost                     335 non-null    float64
 9   Impression               335 non-null    int64
 10  Clicks (Destination)     335 non-null    int64
 11  Reach                    335 non-null    int64
 12  Video views              335 non-null    int64
 13  2-Second Video Views     335 non-null    int64
 14  Video Views at 100%      335 non-null    int64
 15  Video Views at 75%       335 non-null    int64
 16  Video Views at 50%       335 non-null    int64
 17  Video Views at 25%       335 non-null    int64
 18  Paid Followers           335 non-null    int64
 19  Paid Likes               335 non-null    int64
 20  Paid Comments            335 non-null    int64
 21  Paid Shares              335 non-null    int64
 22  Paid Profile Visits      335 non-null    int64
 23  Paid Profile Visit Rate  335 non-null    float64
 24  Currency                 335 non-null    object
dtypes: float64(2), int64(14), object(9)
memory usage: 65.6+ KB

In [5]:
df_2020.columns

Index(['Campaign name', 'Date', 'Ad Group Name', 'Ad Name', 'Promotion Type',
       'Pacing', 'Creative', 'Objective', 'Cost', 'Impression',
       'Clicks (Destination)', 'Reach', 'Video views', '2-Second Video Views',
       'Video Views at 100%', 'Video Views at 75%', 'Video Views at 50%',
       'Video Views at 25%', 'Paid Followers', 'Paid Likes', 'Paid Comments',
       'Paid Shares', 'Paid Profile Visits', 'Paid Profile Visit Rate',
       'Currency'],
      dtype='object')

In [6]:
#Changing column names
df_2020['Clicks']=df_2020['Clicks (Destination)']
df_2020.drop(columns='Clicks (Destination)', inplace=True)

In [7]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            453 non-null    object
 1   Date                     453 non-null    object
 2   Ad Group Name            453 non-null    object
 3   Ad Name                  453 non-null    object
 4   Promotion Type           453 non-null    object
 5   Pacing                   453 non-null    object
 6   Creative                 453 non-null    object
 7   Objective                453 non-null    object
 8   Cost                     453 non-null    float64
 9   Impression               453 non-null    int64
 10  Clicks (Destination)     453 non-null    int64
 11  Reach                    453 non-null    int64
 12  Video views              453 non-null    int64
 13  2-Second Video Views     453 non-null    int64
 14  Video Views at 100%      453 non-null    int64
 15  Video Views at 75%       453 non-null    int64
 16  Video Views at 50%       453 non-null    int64
 17  Video Views at 25%       453 non-null    int64
 18  Paid Followers           453 non-null    int64
 19  Paid Likes               453 non-null    int64
 20  Paid Comments            453 non-null    int64
 21  Paid Shares              453 non-null    int64
 22  Paid Profile Visits      453 non-null    int64
 23  Paid Profile Visit Rate  453 non-null    int64
 24  Currency                 453 non-null    object
dtypes: float64(1), int64(15), object(9)
memory usage: 88.6+ KB

In [8]:
#Changing column names
df_2021['Clicks']=df_2021['Clicks (Destination)']
df_2021.drop(columns='Clicks (Destination)', inplace=True)

In [9]:
df_2022_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            2938 non-null   object
 1   Date                     2938 non-null   object
 2   Ad Group Name            2938 non-null   object
 3   Ad Name                  2938 non-null   object
 4   Promotion Type           2938 non-null   object
 5   Pacing                   2938 non-null   object
 6   Creative                 2938 non-null   object
 7   Objective                2938 non-null   object
 8   Cost                     2938 non-null   float64
 9   Impression               2938 non-null   int64
 10  Click                    2938 non-null   int64
 11  Reach                    2938 non-null   int64
 12  Video views              2938 non-null   int64
 13  2-Second Video Views     2938 non-null   int64
 14  Video Views at 100%      2938 non-null   int64
 15  Video Views at 75%       2938 non-null   int64
 16  Video Views at 50%       2938 non-null   int64
 17  Video Views at 25%       2938 non-null   int64
 18  Paid Followers           2938 non-null   int64
 19  Paid Likes               2938 non-null   int64
 20  Paid Comments            2938 non-null   int64
 21  Paid Shares              2938 non-null   int64
 22  Paid Profile Visits      2938 non-null   int64
 23  Paid Profile Visit Rate  2938 non-null   int64
 24  Unnamed: 24              72 non-null     object
dtypes: float64(1), int64(15), object(9)
memory usage: 574.0+ KB

In [10]:
df_2022_2023.columns

Index(['Campaign name', 'Date', 'Ad Group Name', 'Ad Name', 'Promotion Type',
       'Pacing', 'Creative', 'Objective', 'Cost', 'Impression', 'Click',
       'Reach', 'Video views', '2-Second Video Views', 'Video Views at 100%',
       'Video Views at 75%', 'Video Views at 50%', 'Video Views at 25%',
       'Paid Followers', 'Paid Likes', 'Paid Comments', 'Paid Shares',
       'Paid Profile Visits', 'Paid Profile Visit Rate', 'Unnamed: 24'],
      dtype='object')

In [11]:
#Changing column names
df_2022_2023['Clicks']=df_2022_2023['Click']
df_2022_2023.drop(columns='Click', inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4866 entries, 0 to 4865
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            4866 non-null   object
 1   Date                     4866 non-null   object
 2   Ad Group Name            4866 non-null   object
 3   Ad Name                  4866 non-null   object
 4   Promotion Type           4866 non-null   object
 5   Pacing                   4866 non-null   object
 6   Creative                 4866 non-null   object
 7   Objective                4866 non-null   object
 8   Cost                     4866 non-null   float64
 9   Impression               4866 non-null   int64
 10  Click                    4866 non-null   int64
 11  Reach                    4866 non-null   int64
 12  Video views              4866 non-null   int64
 13  2-Second Video Views     4866 non-null   int64
 14  Video Views at 100%      4866 non-null   int64
 15  Video Views at 75%       4866 non-null   int64
 16  Video Views at 50%       4866 non-null   int64
 17  Video Views at 25%       4866 non-null   int64
 18  Paid Followers           4866 non-null   int64
 19  Paid Likes               4866 non-null   int64
 20  Paid Comments            4866 non-null   int64
 21  Paid Shares              4866 non-null   int64
 22  Paid Profile Visits      4866 non-null   int64
 23  Paid Profile Visit Rate  4866 non-null   int64
 24  Model                    3019 non-null   object
dtypes: float64(1), int64(15), object(9)
memory usage: 950.5+ KB

In [12]:
#Concatenate the data 
df_concat = pd.concat([df_2020, 
                df_2021,
                df_2022_2023
                 ], ignore_index=True)
df_concat.shape
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3726 entries, 0 to 3725
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            3726 non-null   object
 1   Date                     3726 non-null   object
 2   Ad Group Name            3726 non-null   object
 3   Ad Name                  3726 non-null   object
 4   Promotion Type           3726 non-null   object
 5   Pacing                   3726 non-null   object
 6   Creative                 3726 non-null   object
 7   Objective                3726 non-null   object
 8   Cost                     3726 non-null   float64
 9   Impression               3726 non-null   int64
 10  Reach                    3726 non-null   int64
 11  Video views              3726 non-null   int64
 12  2-Second Video Views     3726 non-null   int64
 13  Video Views at 100%      3726 non-null   int64
 14  Video Views at 75%       3726 non-null   int64
 15  Video Views at 50%       3726 non-null   int64
 16  Video Views at 25%       3726 non-null   int64
 17  Paid Followers           3726 non-null   int64
 18  Paid Likes               3726 non-null   int64
 19  Paid Comments            3726 non-null   int64
 20  Paid Shares              3726 non-null   int64
 21  Paid Profile Visits      3726 non-null   int64
 22  Paid Profile Visit Rate  3726 non-null   float64
 23  Currency                 788 non-null    object
 24  Clicks                   3726 non-null   int64
 25  Unnamed: 24              72 non-null     object
dtypes: float64(2), int64(14), object(10)
memory usage: 757.0+ KB

In [13]:

mask_1 = df_concat['Impression'] < df_concat['Clicks']
df_concat= df_concat[~mask_1]
mask_2 = (df_concat['Cost'] == 0) & (df_concat['Impression'] > 0)
df_concat= df_concat[~mask_2]

df_concat.reset_index(drop=True, inplace=True)

In [14]:
df_concat.shape

(3625, 26)

## NOTE

As you can see, I am keeping df on which I did my initial data exploration and creating a new dataset called df_concat. This is so that I can compare both those datasets distributions and better understand if trends I had suspected on the data sample are confirmed by the full data

In [15]:
#format dates
df_concat['Date']=df_concat['Date'].astype('datetime64[ns]')
#df['Date']=df['Date'].astype('datetime64[ns]')

In [16]:
df_concat.sort_values(by=['Date'])
df_concat.to_excel('Tiktok_2020_2023.xlsx')

In [ ]:
df.info()

In [17]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3625 entries, 0 to 3624
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Campaign name            3625 non-null   object
 1   Date                     3625 non-null   datetime64[ns]
 2   Ad Group Name            3625 non-null   object
 3   Ad Name                  3625 non-null   object
 4   Promotion Type           3625 non-null   object
 5   Pacing                   3625 non-null   object
 6   Creative                 3625 non-null   object
 7   Objective                3625 non-null   object
 8   Cost                     3625 non-null   float64
 9   Impression               3625 non-null   int64
 10  Reach                    3625 non-null   int64
 11  Video views              3625 non-null   int64
 12  2-Second Video Views     3625 non-null   int64
 13  Video Views at 100%      3625 non-null   int64
 14  Video Views at 75%       3625 non-null   int64
 15  Video Views at 50%       3625 non-null   int64
 16  Video Views at 25%       3625 non-null   int64
 17  Paid Followers           3625 non-null   int64
 18  Paid Likes               3625 non-null   int64
 19  Paid Comments            3625 non-null   int64
 20  Paid Shares              3625 non-null   int64
 21  Paid Profile Visits      3625 non-null   int64
 22  Paid Profile Visit Rate  3625 non-null   float64
 23  Currency                 769 non-null    object
 24  Clicks                   3625 non-null   int64
 25  Unnamed: 24              72 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(14), object(9)
memory usage: 736.5+ KB

In [18]:
df_concat['Objective'].value_counts()

Video View         2858
Traffic             582
Reach               116
Lead Generation      69
Name: Objective, dtype: int64

phase=[]

for campaign_name in df['Campaign name']:
    if 'AWRN' in campaign_name:
        phase.append('Awareness')
    elif "CONS" in campaign_name:
        phase.append('Consideration')
    elif 'PRCH' in campaign_name or 'Decision' in campaign_name:
        phase.append('Decision')
    else:
        phase.append(None)

df['phase']=phase

In [19]:
phase_concat = []

for index, row in df_concat.iterrows():
    if pd.notna(row['Campaign name']) and 'AWRN' in row['Campaign name']:
        phase_concat.append('Awareness')
    elif pd.notna(row['Campaign name']) and 'CONS' in row['Campaign name']:
        phase_concat.append('Consideration')
    elif pd.notna(row['Campaign name']) and ('CONS' in row['Campaign name'] or 'Decision' in row['Campaign name']):
        phase_concat.append('Decision')
    elif pd.notna(row['Objective']) and (row['Objective'] == 'Video View' or row['Objective'] == 'Reach'):
        phase_concat.append('Awareness')
    elif pd.notna(row['Objective']) and row['Objective'] == 'Traffic':
        phase_concat.append('Consideration')
    elif pd.notna(row['Objective']) and row['Objective'] == 'Lead Generation':
        phase_concat.append('Lead Generation')
    else:
        phase_concat.append(None)

df_concat['phase'] = phase_concat

In [ ]:
#df['phase'].value_counts()

In [20]:
df_concat['phase'].value_counts()

Awareness          3162
Consideration       394
Lead Generation      69
Name: phase, dtype: int64

df_no_zeroes= df[df['Cost'] != 0]
df_no_zeroes=df_no_zeroes.sort_values(by=['Date'])
df_no_zeroes

## Simple distribution plotting and Boxplots

In [ ]:
sns.displot(x=df['Cost'])

In [ ]:
sns.displot(x=df_no_zeroes['Cost'])

In [ ]:
sns.catplot(y='Cost', kind='box', data= df_no_zeroes)

In [ ]:
df_no_zeroes['Cost'].describe()

In [ ]:
sns.catplot(x='phase', y='Cost', kind='box', data= df_no_zeroes)

In [ ]:
# For full dataset

sns.displot(x=df_concat['Cost'])
plt.show

sns.catplot(y='Cost', kind='box', data= df_concat)
plt.show

sns.catplot(x='phase', y='Cost', kind='box', data= df_concat)
plt.show

2. Impressions on normal dataset and dataset with no zero spend

In [ ]:
sns.displot(x=df['Impression'])

In [ ]:
sns.displot(x=df_no_zeroes['Impression'])

In [ ]:
sns.catplot(y='Impression', kind='box', data= df_no_zeroes)

In [ ]:
sns.catplot(x='phase', y='Impression', kind='box', data= df_no_zeroes)

In [ ]:
df_no_zeroes['Impression'].describe()

3. Clicks

In [ ]:
sns.displot(x=df['Click'])

In [ ]:
sns.displot(x=df_no_zeroes['Click'])

In [ ]:
sns.catplot(y='Impression', kind='box', data= df_no_zeroes)

In [ ]:
df_no_zeroes['Click'].describe()

In [ ]:
df_no_zeroes[df_no_zeroes['Click']==23865]

4.Summary

In [ ]:
df_no_zeroes[df_no_zeroes['phase']=='Awareness'].describe()

In [ ]:
df_no_zeroes[df_no_zeroes['phase']=='Consideration'].describe()

## Simple Scatter plotting

In [ ]:
cols=['Impression', 'Click']
for c in cols:
    sns.relplot(x='Cost', y=c, kind='scatter', data=df_no_zeroes)
    plt.show()

In [ ]:
cols=['Impression', 'Click']
for c in cols:
    sns.relplot(x='Cost', y=c, kind='scatter', hue='phase', data=df_no_zeroes)
    plt.show()

In [ ]:
phases= pd.get_dummies(df['phase'], prefix='phase')
df= pd.concat([df, phases], axis=1)

correlation_matrix = df.corr()

# Plot the correlation matrix heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix Heatmap (Top {} Features)'.format(k))
plt.show()

In [ ]:
phases= pd.get_dummies(df_no_zeroes['phase'], prefix='phase')
df_no_zeroes= pd.concat([df_no_zeroes, phases], axis=1)

correlation_matrix = df_no_zeroes.corr()

# Plot the correlation matrix heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix Heatmap (Top {} Features)'.format(k))
plt.show()

## Line according to time

In [ ]:
columns=['Cost', 'Click', 'Impression']
for c in columns:
    sns.relplot(x='Date', y=c, data=df, kind='line')

In [ ]:
columns=['Cost', 'Click', 'Impression']
for c in columns:
    sns.relplot(x='Date', y=c, hue='phase', data=df, kind='line')

In [ ]:
columns=['Cost', 'Clicks', 'Impression']
for c in columns:
    sns.relplot(x='Date', y=c, data=df_concat, kind='line')
    plt.xticks(rotation=45)

In [ ]:
columns=['Cost', 'Clicks', 'Impression']
for c in columns:
    sns.relplot(x='Date', y=c, hue='phase', data=df_concat, kind='line')
    plt.xticks(rotation=45)

## Formatting the dataset consistently

In [ ]:
#Formatting in weekly format

# Group the data by week and calculate the sum of the ad metrics
df_weekly = df.groupby(pd.Grouper(key='Date', freq='W-SUN')).sum()

# Reset the index to get the 'week' column
df_weekly = df_weekly.reset_index()

# Rename the 'date' column to 'week'
df_weekly = df_weekly.rename(columns={'Date': 'week_end'})

# Add a 'week_number' column ranging from 1 to 52
df_weekly['week_number'] = df_weekly['week_end'].dt.week

# Display the transformed weekly dataset
df_weekly

In [21]:
#Formatting in weekly format

# Group the data by week and calculate the sum of the ad metrics
df_concat_weekly = df_concat.groupby(pd.Grouper(key='Date', freq='W-SUN')).sum()

# Reset the index to get the 'week' column
df_concat_weekly = df_concat_weekly.reset_index()

# Rename the 'date' column to 'week'
df_concat_weekly = df_concat_weekly.rename(columns={'Date': 'week_end'})

# Add a 'week_number' column ranging from 1 to 52
df_concat_weekly['week_number'] = df_concat_weekly['week_end'].dt.week

# Display the transformed weekly dataset
df_concat_weekly

/var/folders/p5/9npcw21d3xs054yxn9xh232h0000gn/T/ipykernel_72633/900036192.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_concat_weekly = df_concat.groupby(pd.Grouper(key='Date', freq='W-SUN')).sum()
/var/folders/p5/9npcw21d3xs054yxn9xh232h0000gn/T/ipykernel_72633/900036192.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_concat_weekly['week_number'] = df_concat_weekly['week_end'].dt.week

,week_end,Cost,Impression,Reach,Video views,2-Second Video Views,Video Views at 100%,Video Views at 75%,Video Views at 50%,Video Views at 25%,Paid Followers,Paid Likes,Paid Comments,Paid Shares,Paid Profile Visits,Paid Profile Visit Rate,Clicks,week_number
0,2020-10-25,465.61,721836,648993,683604,224302,4727,9411,24432,60717,0,11406,30,14,1967,0.0575,3170,43
1,2020-11-01,1076.82,1582357,1405246,1486373,366749,8850,16216,35023,102006,0,12719,34,30,5771,0.2218,8131,44
2,2020-11-08,1950.44,2024319,1744813,1867797,451325,10906,19593,42381,119061,1,9159,78,54,9116,0.2658,11626,45
3,2020-11-15,950.70,1566050,1316927,1426800,274153,8007,14027,27574,74953,0,5688,34,24,10621,0.2874,13198,46
4,2020-11-22,568.38,1369027,1127988,1234357,229749,7336,12803,24827,64272,0,5968,45,23,3559,0.0791,13453,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2023-06-04,1446.40,2850159,2284419,2696677,162388,13816,26495,41224,85559,0,2007,16,33,0,0.0000,4937,22
137,2023-06-11,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0,23
138,2023-06-18,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0,24
139,2023-06-25,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0,25
140,2023-07-02,1104.13,1666778,1197203,1564942,389749,14019,33330,53230,126375,0,49078,28,37,0,0.0000,2583,26

In [22]:
df_final = df_concat_weekly[['Impression', 'Clicks', 'Cost', 'week_end', 'week_number']]
df_final= df_final.rename(columns={'Impression':'impressions_tiktok', 'Cost': 'spend_tiktok', 'Clicks': 'clicks_tiktok'})
df_final

     impressions_tiktok  clicks_tiktok  spend_tiktok   week_end  week_number
0                721836           3170        465.61 2020-10-25           43
1               1582357           8131       1076.82 2020-11-01           44
2               2024319          11626       1950.44 2020-11-08           45
3               1566050          13198        950.70 2020-11-15           46
4               1369027          13453        568.38 2020-11-22           47
..                  ...            ...           ...        ...          ...
136             2850159           4937       1446.40 2023-06-04           22
137                   0              0          0.00 2023-06-11           23
138                   0              0          0.00 2023-06-18           24
139                   0              0          0.00 2023-06-25           25
140             1666778           2583       1104.13 2023-07-02           26

[141 rows x 5 columns]

In [24]:
df_final.to_csv('tiktok_final.csv')

In [ ]:
columns=['spend_tiktok', 'clicks_tiktok', 'impressions_tiktok']
for c in columns:
    sns.relplot(x='week_end', y=c, data=df_final, kind='line')
    plt.xticks(rotation=45)